body {
  margin: 0px;
  font-family: 'Work Sans', sans-serif;
}

#header-area {
  background: linear-gradient(to right, #6A64FD, #7DF0FD);
  width: 100vw;
  height: 70vh;
}

#nav-area {
  padding: 30px 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  text-transform: uppercase;
  color: white;
  font-weight: 600;
  font-size: 20px;
}

.nav-item {
  color: white;
  font-weight: 500;
  text-transform: uppercase;
  text-decoration: none;
  margin-left: 40px;
}

.nav-item:hover {
  color: #eeeeee;
}
